/* VARIABLES */

// RESPONSIVE SIZES
$largeSize: 1600px;
$landscapeSize: 1125px;
$portraitSize: 875px;
$mobileSize: 700px;
$mobileSmallSize: 325px;



// COLORS



// FONTS
$base-value: 16;



// CSS VARIABLES
$css4: true;
$compatibility: true;

$css-variables: (
	--column-padding: 5vw
);