/* VARIABLES */

// RESPONSIVE SIZES
$largeSize: 1600px;
$landscapeSize: 1125px;
$portraitSize: 875px;
$mobileSize: 700px;
$mobileSmallSize: 325px;



// COLORS
$gray: #1A1A1A;
$pink: #FFACBE;



// FONTS
$base-value: 16;

@font-face {
    font-family: 'onramp';
    src: url('/fonts/onramp-webfont.woff2') format('woff2'),
         url('/fonts/onramp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



// CSS VARIABLES
$css4: true;
$compatibility: true;

$css-variables: (
	--space: 1.5em
);