<article>
	<div class="work__header grid__row">
		<div class="work__title grid--33">
			<h2>GIFFFFR</h2>
		</div>

		<div class="work__hero grid--66">
			<img src="/images/work/giffffr/header.jpg" alt="GIFFFFR">
		</div>
	</div>
	<div class="work__content grid__row">
		<div class="work__detail grid--33">
			<h3>Design&times;Code&times;Brand</h3>
			<h3>2014</h3>
		</div>

		<div class="work__description grid--66">
			<p>Animated GIFs have become the social language of the internet, used across Reddit, Tumblr, Twitter, emails, and even text messages. While everyone uses them, it's hard for people to make their own &mdash; the current tools and applications out there are complicated, slow, and make small, low-quality GIFs. GIFFFFR is a web application that was built to solve that very problem: enter a YouTube video, select your size and time, add a caption, and you have a high quality GIF that can be directly uploaded to various platforms for social sharing. Using modern HTML5 and JavaScript, all of the rendering of the video to GIF is client-side with low server overhead and no back-end processing of the image.</p>
			<p>GIFFFFR was covered by multiple blogs and online magazines, including FastCo.Labs, Yahoo! Tech, The Wire, and Wired, as well as making the front page of Product Hunt. After launch, GIFFFFR partnered with Giphy, the leading (and most fun) GIF sharing platform on the web to become their primary tool for creating GIFs from videos and uploading directly to Giphy. This partnership also led to an increase in capabilities &mdash; users were now able to use not only YouTube videos, but also Vevo, Vimeo, Vine, DailyMotion, and a whole list of other sites as their GIF creation source, as well as see these animated GIFs in action when sharing to Twitter and Facebook. Once the partnership was concluded, GIFFFFR was acquired by Giphy to become part of their in-house public facing GIF creation toolkit.</p>
			<p>The static site was built using Gulp, Sass, Compass, HTML5, JavaScript, and PHP.</p>

			<div class="work__footer"></div>
		</div>
	</div>
	<div class="work__images grid__block">
		<div class="grid--100">
			<img src="/images/work/giffffr/main.jpg" alt="GIFFFFR Interactive GIF Creation Tool">
		</div>

		<div class="grid--50">
			<img src="/images/patterns/t.png" data-original="/images/work/giffffr/1.jpg" class="img--border lazyload" alt="GIFFFFR Interactive GIF Creation Tool">
		</div>
		<div class="grid--50">
			<img src="/images/patterns/t.png" data-original="/images/work/giffffr/2.jpg" class="img--border lazyload" alt="GIFFFFR Interactive GIF Creation Tool">
		</div>

		<div class="grid--66">
			<img src="/images/work/giffffr/3_preload.jpg" data-original="/images/work/giffffr/3.gif" class="img--border img--margin lazyload" alt="Ghostbusters II World of the Psychic Animated Reaction GIF - Made Using GIFFFFR">
		</div>
		<div class="grid--33">
			<span class="caption caption--right">Peter Venkman's &ldquo;World of the Psychic&rdquo; reaction face (from Ghostbusters II) made using GIFFFFR.</span>
		</div>
	</div>
</article>