<article>
	<div class="work__header grid__row">
		<div class="work__title grid--33">
			<h2>Metro HotCars</h2>
		</div>

		<div class="work__hero grid--66">
			<img src="/images/work/metro/header.jpg" alt="Metro HotCars">
		</div>
	</div>
	<div class="work__content grid__row">
		<div class="work__detail grid--33">
			<h3>Design&times;Code</h3>
			<h3>2013</h3>
		</div>

		<div class="work__description grid--66">
			<p>Initially built as a humorous single page site to test out some new CSS3 animations and development techniques, Metro HotCars quickly struck a chord with DC residents fed up with the failings of the local regional transit authority. Exploding overnight based on a single tweet, the site saw over twenty five thousand unique visitors within twenty-four hours and was covered by DCist and the CBS local news.</p>
			<p>After receiving a cease and desist from the transit authority’s lawyers, the site was quickly redacted, with all references, copyrights, and trademarks scribbled out in the style of confidential documents. This, of course, elicited another round of coverage from the local media, heaping scorn on the transit authority’s handling of the situation. What started as a simple design experiment launched in the middle of the night escalated into an example of how not to respond to social media and satire online.</p>
			<p>The static site was built using CSS3, Sass, and Compass.</p>

			<div class="work__footer"></div>
		</div>
	</div>
	<div class="work__images grid__block">
		<div class="grid--100">
			<img src="/images/work/metro/main.jpg" alt="Metro HotCars Parody Website">
		</div>

		<div class="grid--50">
			<img src="/images/patterns/t_tall.png" data-original="/images/work/metro/1.jpg" class="img--border lazyload" alt="Metro HotCars Parody Website">
		</div>
		<div class="grid--50">
			<img src="/images/patterns/t_tall.png" data-original="/images/work/metro/2.jpg" class="img--border lazyload" alt="Metro HotCars Parody Website">
		</div>
	</div>
</article>