<article>
	<div class="work__header grid__row">
		<div class="work__title grid--33">
			<h2>Tesla Motors</h2>
		</div>

		<div class="work__hero grid--66">
			<img src="/images/work/tesla/header.jpg" alt="Tesla Motors">
		</div>
	</div>
	<div class="work__content grid__row">
		<div class="work__detail grid--33">
			<h3>Design&times;Code</h3>
			<h3>nclud</h3>
			<h3>2014</h3>
		</div>

		<div class="work__description grid--66">
			<p>For Tesla Motors in Austin, South By Southwest is the perfect opportunity to market themselves in an innovative way to the many technology-related visitors and residents of the area. In an effort to spread the word and grow their marketing, we created an experience to interact with people in an individualized way &mdash; by allowing them to customize their own Tesla and share it with the world.</p>
			<p>Planned to be used on iPads on site as well as on the in-dash web browser of a Tesla Model S, the site would let visitors pick their Tesla's color, roof, wheels, and interior before sharing a photo of it on their own Twitter account with the hashtag <strong>#TeslaSXSW</strong>. Tesla Austin would then randomly pick certain users who had posted their customizations to win a day of being driven around South By Southwest in a chauffeured Model S. Unfortunately, due to time and festival constraints, the full design and execution of the promotion was unable to be executed.</p>
			<p>The responsive site was built using Gulp, Sass, and Compass, with Express and Node.js handling the back-end Twitter API integration for social sharing.</p>

			<div class="work__footer">
				<h4>Additional Design: <a href="http://hollabawho.is/" target="_blank" rel="noopener">Brooke Hollabaugh</a> &times; Additional Development: <a href="http://jesse.sh/awl/" target="_blank" rel="noopener">Jesse Shawl</a></h4>
			</div>
		</div>
	</div>
	<div class="work__images grid__block">
		<div class="grid--100">
			<img src="/images/work/tesla/main.jpg" alt="Tesla Motors Interactive Experience">
		</div>

		<div class="grid--100">
			<div class="browser"></div>
        	<div class="video-load browser-video">
	            <!--<iframe src="//player.vimeo.com/video/126535194" width="1200" height="813" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
            </div>
		</div>

		<div class="grid--50">
			<img src="/images/patterns/t_tall.png" data-original="/images/work/tesla/1.jpg" class="img--border lazyload" alt="Tesla Motors Interactive Experience">
		</div>
		<div class="grid--50">
			<img src="/images/patterns/t_tall.png" data-original="/images/work/tesla/2.jpg" class="img--border lazyload" alt="Tesla Motors Interactive Experience">
		</div>

		<div class="grid--100">
			<img src="/images/patterns/t_wide.png" data-original="/images/work/tesla/3.jpg" class="img--border lazyload" alt="Tesla Motors Interactive Experience">
		</div>

		<div class="grid--100">
			<img src="/images/patterns/t_wide.png" data-original="/images/work/tesla/4.jpg" class="img--border lazyload" alt="Tesla Motors Interactive Experience">
		</div>
	</div>
</article>