<article>
	<div class="work__header grid__row">
		<div class="work__title grid--33">
			<h2>This Week's Playlist</h2>
		</div>

		<div class="work__hero grid--66">
			<img src="/images/work/thisweeksplaylist/header.jpg" alt="This Week's Playlist">
		</div>
	</div>
	<div class="work__content grid__row">
		<div class="work__detail grid--33">
			<a href="http://thisweeksplaylist.co/" target="_blank" class="button">Visit Site</a>
			<h3>Design&times;Code&times;Brand</h3>
			<h3>2015</h3>
		</div>

		<div class="work__description grid--66">
			<p>With so much new music being released every week, how does someone find the best of it without constantly visiting blogs or relying on Pandora or Spotify to happen upon a song they might like? That was the challenge tackled by This Week's Playlist &mdash; every Sunday, a new playlist of ten to twenty songs, curated by myself and a fellow music blog veteran. Intended to be inherently temporary, there is no archive or reference of old playlists or songs. With a mix of all genres and styles, the site uses large beautiful serif type contrasted with an old-school monospace font to introduce listeners to something they might not have heard before (and, hopefully, will dance along to). A static site built with Gulp and Sass, This Week's Playlist is fully responsive so that anyone, anywhere can listen on whatever device or platform they prefer.</p>

			<div class="work__footer"></div>
		</div>
	</div>
	<div class="work__images grid__block">
		<div class="grid--100">
			<img src="/images/work/thisweeksplaylist/main.jpg" alt="This Week's Playlist Website & Mobile Experience">
		</div>

		<div class="grid--100">
			<img src="/images/patterns/t_wide.png" data-original="/images/work/thisweeksplaylist/1.jpg" class="img--border lazyload" alt="This Week's Playlist Website Experience">
		</div>

		<div class="grid--33">
			<img src="/images/patterns/t.png" data-original="/images/work/thisweeksplaylist/2.jpg" class="img--border lazyload" alt="This Week's Playlist Mobile Experience">
		</div>
		<div class="grid--33">
			<img src="/images/patterns/t.png" data-original="/images/work/thisweeksplaylist/3.jpg" class="img--border lazyload" alt="This Week's Playlist Mobile Experience">
		</div>
		<div class="grid--33">
			<img src="/images/patterns/t.png" data-original="/images/work/thisweeksplaylist/4.jpg" class="img--border lazyload" alt="This Week's Playlist Mobile Experience">
		</div>
	</div>
</article>