/* NAV */

nav {
	position: fixed;

	@include css4 {
		top: var(--space);
		right: var(--space);
		bottom: var(--space);
		left: var(--space);

		padding: var(--space);
	}

	border: 1px solid $gray;

	pointer-events: none;
}


.nav__menu {
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	@include justify-content(space-between);
	@include align-items(stretch);

	@include css4 {
		height: calc( var(--space) * 2 );
	}
}

.nav__menu-logo {
	@include css4 {
		height: calc( var(--space) * 2 );
		width: calc( var(--space) * 2 );
	}

	padding: 0.25em;

	background: $gray;
}


.nav__menu-right {
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	@include justify-content(center);
	@include align-items(stretch);

	height: 100%;

	&:before {
		display: block;

		position: absolute;
		left: 0;
		bottom: 0;

		width: 50vw;
		height: 1px;

		background: $gray;

		@include transform(translateX(2em));

		content: '';
	}
}

.nav__menu-right__container {
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	@include justify-content(center);
	@include align-items(center);

	height: 100%;

	overflow: hidden;
}

.nav__menu-links {
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	@include justify-content(center);
	@include align-items(center);

	height: 100%;

	pointer-events: auto;

	li {
		height: 100%;

		@include transform(translateY(100%));


		&:first-child {
			margin-right: 1em;
		}
	}


	&:before {
		@include display(flex);
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include justify-content(center);
		@include align-items(center);

		position: absolute;
		top: 0;
		right: 0;

		height: 100%;

		border-bottom: 1px solid $gray;

		content: attr(data-title);
	}
}

.nav__menu-links__single {
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	@include justify-content(center);
	@include align-items(center);

	height: 100%;

	border-bottom: 1px solid $gray;
}