@@include('includes/head.tpl.html')

@@include('modules/nav.tpl.html')
@@include('modules/hero.tpl.html')

<main>
@@include('work/doom.tpl.html')
@@include('work/starwars.tpl.html')
@@include('work/nclud.tpl.html')
@@include('work/nbcsports.tpl.html')
@@include('work/worldofx.tpl.html')
@@include('work/thisweeksplaylist.tpl.html')
@@include('work/tesla.tpl.html')
@@include('work/giffffr.tpl.html')

@@include('modules/about.tpl.html')
</main>

@@include('modules/footer.tpl.html')
@@include('modules/map.tpl.html')

@@include('includes/footer.tpl.html')