/* GRID */

.grid-100 {
	width: 100%;
}

.grid-75 {
	width: 75%;
}

.grid-66 {
	width: calc( ( 100% / 3 ) * 2 );
}

.grid-50 {
	width: 50%;
}

.grid-33 {
	width: calc( 100% / 3 );
}

.grid-25 {
	width: 25%;
}


.grid-66,
.grid-50,
.grid-33 {
	padding: 10px;
}