/* MAIN */

// CSS VARIABLES
@if($css4) {
	:root {
		@each $variable, $value in $css-variables {
			#{$variable}: $value;
		}
	}
}



* {
   	@include box-sizing(border-box);


   	&:before,
   	&:after {
   		@include box-sizing(border-box);
   	}
}



html {
	min-height: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;

	background: rgba($pink, 0.5);
}



body {
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;

	--screen-large: $largeSize;
	--screen-landscape: $landscapeSize;
	--screen-portrait: $portraitSize;
	--screen-mobile: $mobileSize;
	--screen-mobile-small: $mobileSmallSize;
}



main,
nav,
header,
article,
footer,
section,
div {
	display: block;
	position: relative;
}



main {
	@include css4 {
		padding-left: calc( ( var(--space) * 2 + 1px ) - var(--padding) );
		padding-right: calc( ( var(--space) * 2 + 1px ) - var(--padding) );
	}
}



nav,
header,
main {
	font-size: 1rem;
}