/* TEXT */

$font-primary: "onramp", sans-serif;
$font-secondary: "kings-caslon-display", serif;



* {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



a {
	outline: none;
}



h1,
h2,
h3,
h4,
.caption {
	display: block;

	font-family: $font-primary;

	text-transform: uppercase;

	color: $gray;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	@include fontmath(1em, 40, 40, 20);

	text-indent: 0.5em;
	text-align: center;


	&:first-child {
		margin-top: -0.125em;
	}
}

h2 {
	@include fontmath(1em, 40, 40, 10);

	padding-bottom: 0.15em;

	text-indent: -0.04em;

	white-space: nowrap;
}

h3 {
	@include fontmath(1em, 20, 26, 10);


	@include breakpoint(portrait) {
		@include fontmath(1em, 18, 24, 5);
	}
	@include breakpoint(mobile) {
		@include fontmath(1em, 20, 26, 10);
	}
}

h4 {
	@include fontmath(1em, 16, 16, 4);


	a {
		display: inline-block;
		position: relative;

		color: $gray;

		text-decoration: none;


		&:after {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0.25em;

			height: 1px;

			border-bottom: 1px dotted $gray;

			opacity: 0.5;

			content: '';
		}


		&:hover,
		&:active,
		&:focus {
			&:after {
				border-bottom: 1px solid $gray;

				opacity: 1;
			}
		}
	}


	article:nth-child(even) &:not(.no-spacing) {
		margin-right: -0.25em;
	}
	article:nth-child(even) &.no-spacing {
		margin-right: -0.05em;
	}


	&.no-spacing {
		margin-top: 0.25em;

		letter-spacing: 0.05em;
	}
}


p {
	display: block;

	font-family: $font-secondary;

	@include fontmath(1em, 24, 38, 0);

	text-indent: 1.75em;

	margin-bottom: 0.5em;


	&:first-child {
		text-indent: 0;
	}


	em {
		font-style: italic;
	}
	strong {
		font-weight: bold;
	}


	@include breakpoint(landscape) {
		text-indent: 1.5em;
	}
}
p a {
	position: relative;

	font-weight: bold;

	color: $gray;

	text-decoration: none;


	&:after {
		display: block;

		position: absolute;
		bottom: -0.15em;
		left: 0;
		right: 0;

		border-bottom: 1px dotted $gray;

		opacity: 0.75;

		content: '';
	}


	&:hover,
	&:active,
	&:focus {
		&:after {
			border-bottom: 1px solid $gray;

			opacity: 1;
		}
	}
}



// Captions
.caption {
	@include fontmath(1em, 18, 18, 1);
}



// Nav Menu
.nav__menu-links__single,
.nav__menu-links:before {
	font-family: $font-secondary;

	@include fontmath(1em, 24, 24, 0);

	color: $gray;

	text-decoration: none;
}
.nav__menu-links__single {
	&:not(.inactive):hover,
	&:not(.inactive):active,
	&:not(.inactive):focus {
		padding-right: 0.4em;

		font-style: italic;
	}

	li:first-child &:not(.inactive) {
		&:hover,
		&:active,
		&:focus {
			padding-right: 0.425em;
		}
	}
}



// Button
.button {
	font-family: $font-secondary;

	@include fontmath(1em, 24, 24, 0);

	color: $gray;

	text-decoration: none;


	&:hover,
	&:active,
	&:focus {
		font-style: italic;

		color: $pink;
	}
}