/* TEXT */

$font-primary: "onramp", sans-serif;
$font-secondary: "kings-caslon-display", serif;



* {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern" 1;
    font-kerning: normal;

 //    -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}



h1,
h2,
h3,
h4 {
	display: block;

	font-family: $font-primary;

	text-transform: uppercase;

	color: $gray;
}

h1 {
	@include fontmath(1em, 40, 40, 20);

	text-indent: 0.5em;
	text-align: center;


	&:first-child {
		margin-top: -0.125em;
	}
}

h2 {
	@include fontmath(1em, 60, 32, 16);
}

h3 {
	@include fontmath(1em, 20, 26, 10);
}

h4 {
	@include fontmath(1em, 16, 16, 4);


	a {
		color: $gray;

		text-decoration: none;

		opacity: 0.75;

		&:hover,
		&:active,
		&:focus {
			opacity: 1;
		}
	}
}


p {
	display: block;

	font-family: $font-secondary;

	@include fontmath(1em, 24, 38, 0);


	em {
		font-style: italic;
	}
}



// Nav Menu
.nav__menu-links__single,
.nav__menu-links:before {
	font-family: $font-secondary;

	@include fontmath(1em, 24, 24, 0);

	color: $gray;

	text-decoration: none;
}
.nav__menu-links__single {
	&:hover,
	&:active,
	&:focus {
		padding-right: 0.4em;

		font-style: italic;
	}
}