/* WORK ARTICLES */

article {
	padding-top: 12em;
	padding-bottom: 12em;


	@include breakpoint(mobile) {
		padding-top: 10em;
		padding-bottom: 10em;
	}
}


article:nth-child(odd) {
	.work__title {
		@include align-items(flex-end);

		@include order(1);


		h2 {
			position: absolute;

			left: 100%;
			@include css4 {
				bottom: var(--padding);
			}

			transform-origin: left bottom;

			@include transform(rotate(-90deg));


			@include breakpoint(mobile) {
				position: relative;

				left: auto;
				bottom: 0;

				padding-top: 0;

				@include transform(rotate(0));
			}
		}


		@include breakpoint(mobile) {
			@include align-items(flex-start);
			@include order(2);
		}
	}

	.work__hero {
		@include order(2);


		&:after {
			@include css4 {
				right: calc( var(--padding) + 1px + ( var(--space) * -2 ) )
			}
		}


		@include breakpoint(mobile) {
			@include order(1);
		}
	}

	.work__detail {
		@include align-items(flex-end);
		@include order(1);

		h3 {
			margin-right: -0.5em;


			@include breakpoint(portrait) {
				margin-right: -0.27778em;
			}
		}

		&:before {
			@include css4 {
				right: var(--padding);
			}
		}


		@include breakpoint(mobile) {
			@include align-items(flex-start);
		}
	}

	.work__description {
		@include order(2);
	}

	.work__footer {
		&:after {
			left: 0;
		}
	}
}

article:nth-child(even) {
	.work__title {
		@include align-items(flex-start);

		@include order(2);


		h2 {
			position: absolute;

			left: 0;
			top: calc( 100% - var(--padding) );

			padding-top: 0.075em;

			transform-origin: left top;

			@include transform(rotate(-90deg));


			@include breakpoint(mobile) {
				position: relative;

				left: auto;
				top: auto;

				padding-top: 0;

				@include transform(rotate(0));
			}
		}
	}

	.work__hero {
		@include order(1);

		@include css4 {
			margin-left: calc( ( var(--space) * -2 ) - 1px - var(--padding) );
		}

		&:after {
			left: 0;
		}
	}

	.work__detail {
		@include align-items(flex-start);
		@include order(2);


		&:before {
			@include css4 {
				left: var(--padding);
			}
		}


		@include breakpoint(mobile) {
			@include order(1);
		}
	}

	.work__description {
		@include order(1);


		@include breakpoint(mobile) {
			@include order(2);
		}
	}

	.work__footer {
		text-align: right;

		&:after {
			right: 0;
		}


		@include breakpoint(mobile) {
			text-align: left;
		}
	}
}


.work__header {
	margin-bottom: 5em;


	@include breakpoint(mobile) {
		margin-bottom: 2em;
	}
}

.work__title {
	@include display(flex);
	@include flex-direction(column);
	@include flex-wrap(nowrap);
	@include justify-content(flex-end);
}

.work__hero {
	img {
		@include css4 {
			width: calc( 100% + var(--padding) + 1px + ( var(--space) * 2 ) );
		}

		opacity: 0.5;

		mix-blend-mode: multiply;
	}


	&:after {
		display: block;

		position: absolute;
		top: 70%;

		width: 75%;
		height: 40%;

		background: url('/images/patterns/pattern_wave.png');
		background-size: 20px auto;

		mix-blend-mode: multiply;

		opacity: 0.35;

		content: '';


		@include breakpoint(mobile) {
			top: auto;
			bottom: 70%;
		}
	}
}

.work__content {
	margin-bottom: 2em;
}

.work__detail {
	@include display(flex);
	@include flex-direction(column);
	@include flex-wrap(nowrap);
	@include justify-content(flex-start);

	padding-top: 1.5em;


	&:before {
		display: block;

		position: absolute;
		@include css4 {
			top: var(--padding);
		}

		width: 100vw;
		height: 1px;

		background: $gray;

		content: '';
	}


	@include breakpoint(mobile) {
		padding-bottom: 2em;
	}
}

.work__description {
	p {
		&:first-child {
			margin-top: -0.4em;
		}
		&:last-of-type {
			margin-bottom: 1.75em;
		}
	}
}

.work__footer {
	@include css4 {
		padding-bottom: var(--padding);
	}

	&:after {
		display: block;

		position: absolute;
		bottom: 0;

		width: 100vw;
		height: 1px;

		background: $gray;

		content: '';
	}


	@include breakpoint(mobile) {
		padding-bottom: 1.5em;
	}
}



.caption {
	display: block;

	position: relative;

	@include css4 {
		padding-top: calc( var(--padding) / 2 );
	}


	&:before {
		display: block;

		position: absolute;
		top: 0;

		width: 100vw;
		height: 1px;

		background: $gray;

		content: '';
	}
}
.caption--left {
	text-align: right;

	margin-right: -0.05556em;

	&:before {
		right: 0;
	}


	@include breakpoint(mobile) {
		text-align: left;

		margin-right: 0;
	}
}
.caption--right {
	&:before {
		left: 0;
	}
}