<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage" lang="en">

<head>
    <!-- All coding, design, ideas, fantastical inventions, etc. etc. © 2017 Kyle Conrad -->
    <!-- Contact: kyle@kyleconrad.com / @kyle_conrad -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">

    <title>Kyle Conrad. Design &times; Code.</title>
	<meta name="description" content="Designer, developer, sneakerhead, and font nerd living in Richmond, Virginia and working with such clients as Dole, Bethesda Softworks, NBC Sports, and Tesla.">
    <meta name="robots" content="NOODP">

    <link rel="canonical" href="https://kyleconrad.com/">
    <link rel="author" href="/humans.txt" />
    <meta name="url" content="https://kyleconrad.com/">
    <meta name="identifier-URL" content="https://kyleconrad.com/">

    <link rel="apple-touch-icon-precomposed" href="/images/icons/fav152.png" type="image/png">
    <link rel="icon" href="/images/icons/fav195.png" sizes="195x195" type="image/png">
    <link rel="icon" href="/images/icons/fav128.png" sizes="128x128" type="image/png">
    <link rel="icon" href="/images/icons/fav64.png" sizes="64x64" type="image/png">
    <link rel="icon" href="/images/icons/fav48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/images/icons/fav32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/images/icons/fav32.png">

    <meta name="theme-color" content="#FFACBE">
    <meta name="msapplication-TileColor" content="#FF83A2">
    <meta name="msapplication-TileImage" content="/images/icons/fav144.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kyle_conrad">
    <meta name="twitter:title" content="Kyle Conrad. Design × Code.">
    <meta name="twitter:description" content="Designer, developer, sneakerhead, and font nerd living in Richmond, Virginia and working with such clients as Dole, Bethesda Softworks, NBC Sports, and Tesla.">
    <meta name="twitter:image:src" content="https://kyleconrad.com/images/logos/social.jpg">

    <meta itemprop="name" content="Kyle Conrad. Design × Code." />
    <meta itemprop="description" content="Designer, developer, sneakerhead, and font nerd living in Richmond, Virginia and working with such clients as Dole, Bethesda Softworks, NBC Sports, and Tesla." />
    <meta itemprop="image" content="https://kyleconrad.com/images/logos/social.jpg" />

    <meta property="og:title" content="Kyle Conrad. Design × Code." />
    <meta property="og:url" content="https://kyleconrad.com/"/>
    <meta property="og:site_name" content="Kyle Conrad. Design × Code." />
    <meta property="og:description" content="Designer, developer, sneakerhead, and font nerd living in Richmond, Virginia and working with such clients as Dole, Bethesda Softworks, NBC Sports, and Tesla." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://kyleconrad.com/images/logos/social.jpg" />

    <script type="application/ld+json">
	    {
			"@context": "http://schema.org",
			"@type": "Organization",
			"name": "Kyle Conrad. Design × Code.",
			"url": "https://kyleconrad.com",
			"logo": "https://kyleconrad.com/images/logos/social.jpg",
			"contactPoint" : [{
				"@type": "ContactPoint",
				"email": "kyle@kyleconrad.com",
				"areaServed": "US"
			}],
			"sameAs": [
    			"https://twitter.com/kyle_conrad",
    			"https://www.linkedin.com/in/kylemconrad/"
    		]
	    }
    </script>
    <script type="application/ld+json">
	    {
			"@context" : "http://schema.org",
			"@type" : "WebSite",
			"name" : "Kyle Conrad. Design × Code.",
			"url" : "https://kyleconrad.com"
	    }
    </script>

    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="//api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css" rel="stylesheet" type="text/css" />

	<script src="//use.typekit.net/oxx6goo.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js"></script>
    <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script>window.lazySizesConfig = window.lazySizesConfig || {}; lazySizesConfig.lazyClass = 'lazyload'; lazySizesConfig.srcAttr = 'data-original'; lazySizesConfig.loadMode = 2; lazySizesConfig.expand = 600; lazySizesConfig.expFactor = 3;</script>
    <!-- build:remove -->
    <script type="text/javascript" src="/js/lib/01_fitvids.js"></script>
    <script type="text/javascript" src="/js/lib/02_lazysizes.js"></script>
    <script type="text/javascript" src="/js/lib/03_lazyvideo.js"></script>
    <script type="text/javascript" src="/js/lib/04_tweenmax.js"></script>
    <!-- endbuild -->
    <!-- header:js --><!-- endinject -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-25023620-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body class="loading">