<article>
	<div class="work__content grid__row">
		<div class="work__detail grid--33">
			<a href="mailto:kyle@kyleconrad.com" target="_blank" rel="noopener" class="button">Email Me</a>
		</div>

		<div class="work__description grid--66">
			<p>I first fell in love with design and development in 7th grade when I discovered I could build a webpage in Microsoft Word. Hosted on GeoCities, it was a middle schooler&rsquo;s dream of Star Wars: lightsabers, starfields, hyperspace, character profiles, and, of course, the Mos Eisley cantina band song playing in a MIDI loop in the background. Since then, I&rsquo;ve grown up alongside the web &mdash; the introduction of CSS, the explosion of JavaScript, the death of animated GIFs, the birth of Flash, the death of Flash, the rebirth of animated GIFs, Web 2.0, and too many search engines to mention (along the way, I taught myself how to make websites a little bit better than that first one). Now I&rsquo;m the senior interactive designer for <a href="https://nclud.com/" target="_blank" rel="noopener">nclud</a> in Washington, DC &mdash; we&rsquo;re nice people and we do awesome things, including some pretty cool stuff with Star Wars (funny how that works).</p>
			<p>Want to know more? I live in Richmond, Virginia. I have a border collie named Logan (yes, after the X-Man). I&rsquo;m a sneakerhead and font nerd. I organize my closet by color. I was born on a Friday. I&rsquo;ve been to the emergency room in every place I&rsquo;ve ever lived.</p>
	        <p>I occasionally write about design, code, technology, creativity, and more on <a href="https://medium.com/@kyle_conrad" target="_blank" rel="noopener">Medium</a>. Other than that, I post random thoughts on <a href="https://www.twitter.com/kyle_conrad" target="_blank" rel="noopener">Twitter</a>, photos on <a href="http://instagram.com/kyle_conrad" target="_blank" rel="noopener">Instagram</a>, designs in progress on <a href="https://dribbble.com/kyle_conrad" target="_blank" rel="noopener">Dribbble</a>, and code and projects on <a href="https://github.com/kyleconrad" target="_blank" rel="noopener">Github</a>.</p>
	        <p>Do you have an awesome project that needs design, branding, or code? I&rsquo;m available for limited freelance work, so <a href="mailto:kyle@kyleconrad.com" target="_blank" rel="noopener">email me</a>.</p>

			<div class="work__footer">
				<h3>Additional Clientele</h3>
	    		<h4 class="no-spacing">African Wildlife Foundation, AOL, Audi Financial Services, Clyde's Restaurant Group, Comcast, Disney, Dole, Doubletree by Hilton, Habitat for Humanity, jQuery Foundation, Neustar, RAINN, Renaissance Hotels by Marriott, Volkswagen Financial Services, Sweetgreen, Townsquare Media, United States Department of State</h4>
			</div>
		</div>
	</div>
</article>