<nav>
	<section class="nav__menu">
		<a href="#" class="nav__menu-logo--link" tabindex="1"></a>
		<object data="/images/logos/logo_main-animated.svg" type="image/svg+xml" class="nav__menu-logo">
    		<embed src="/images/logos/logo_main-animated.svg" type="image/svg+xml" class="nav__menu-logo" />
		</object>

		<div class="nav__menu-right">
			<div class="nav__menu-right__container">
				<ul class="nav__menu-links" data-title="Kyle Conrad.">
					<li><a href="#" class="nav__menu-links__single" tabindex="2">Previous.</a></li>
					<li><a href="#" class="nav__menu-links__single" tabindex="3">Next.</a></li>
				</ul>
			</div>
		</div>
	</section>
</nav>